footer {
  background-color: var(--main-color);
  position: relative;
  margin: 0px;
  padding: var(--space2x);
  max-width: 100%;
}

.footer__logo {
  width: 186px;
  height: var(--space3x);
  top: 5px;
  position: relative;
}

.footer__cat {
  font-family: Raleway;
  font-style: light;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  line-height: 200%;
  margin-top: var(--space3x);
}

.footer__reseaux {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: var(--space1x);
  align-items: center;
  left: var(--space3x);
  margin-top: var(--space1x);
}

.footer__mention {
  margin-top: 15px;
  font-family: Raleway;
  font-style: light;
  font-size: 14px;
  color: white;
  top: 10px;
  width: 348px;
  height: 33px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 50px;
}

.img__footer__reseaux{
    margin-right: var(--space2x);
}