header{
    background-color: var(--main-color);
    position: sticky;
    z-index: 100;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}



.header__logo{
    left: var(--space1x);
    top: var(--space2x);

}

.header__menu-bouton{
    position: absolute;
    right: var(--space2x);
    top: var(--space1x);
}

.header_menuBtn{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.header__nom{
    text-decoration: none;
    color: inherit;
    outline: none;
}

.header_menuBtn {
    background: none; 
    border: none; 
    padding: 0; 
    margin: 0; 
    font: inherit;
    cursor: pointer; 
    color: inherit; 
    outline: none; 
}