.texte__intro{
    font-family: Raleway;
    font-style: regular;
    font-size: var(--text-s);
    line-height: 130%;
    padding: var(--space1x);
    padding-left: var(--space2x);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    
}

.texte__principal{
   font-family: Raleway;
   font-style: normal;
   font-size: var(--titre-1);
   width: 235px;
   height: 52px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute; 
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
    margin-top: var(--space5x);
}