.texte__intro{
    font-family: Raleway;
    font-style: regular;
    font-size: var(--text-s);
    line-height: 130%;
    padding: var(--space1x);
    padding-left: var(--space2x);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    
}